@import "../Helper/Variable.scss";

.admin {
  display: flex;
  .admin_content {
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .admin {
    position: relative;
  }
}

@media (max-width: 576px) {
  .admin {
    max-width: 350px !important;
  }
}
//1200 992 768 576
