@import "../Helper/Variable.scss";

.overview {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  .chart_item_1,
  .chart_item_2 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .chart_item_2 {
    align-items: flex-start;
  }
  .chart_item_7 {
    grid-column: 1 / span 3;
  }
}

@media (max-width: 1200px) {
  .overview {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 992px) {
  .overview {
    grid-template-columns: repeat(1, 1fr);
    .chart_item_7 {
      grid-column: 1 / span 1;
    }
  }
}

@media (max-width: 576px) {
  .overview {
    width: 350px;
    .chart_item {
      margin-bottom: 20px;
    }
  }
}
