.statistic {
  margin: 50px 25%;
}
.statistic_content {
  margin-top: 20px;
}
.statistic_item {
  float: left;
  width: 22%;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  padding: 20px 0;
  margin: 0 9px;
}
.clear-float {
  clear: both;
}
.statistic h3 {
  margin-bottom: 0;
}
.statistic h3 span {
  font-size: 26px;
  font-weight: bold;
}
.statistic span {
  font-size: 16px;
  font-weight: 500;
}
.statistic_detail {
  margin-left: 20px;
}

//Brand
.brandInfo {
  margin-top: 50px;
}
.brand_content {
  display: flex;
}
.brand_content .brand_item {
  padding: 0 10px;
  position: relative;
}
.brand_content img {
  width: 100%;
}
.brand_content .brand_item h6 {
  width: 100%;
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
}

@media (max-width: 1520px) {
  .statistic_item {
    width: 44%;
    margin-bottom: 10px;
  }
  .brand_content {
    display: block;
  }
  .brand_item {
    float: left;
    width: 50%;
    margin-bottom: 20px;
  }
}
@media (max-width: 1320px) {
  .statistic {
    margin: 50px 20%;
  }
}
@media (max-width: 1200px) {
  .statistic {
    margin: 50px 5%;
  }
}
@media (max-width: 768px) {
  .statistic h4 {
    font-size: 1rem;
  }
}

@media (max-width: 576px) {
  .statistic_detail {
    margin-left: 11px;
    h3,
    span {
      font-size: 13px;
    }
    h3 {
      display: flex;
      justify-content: center;
      align-items: center;
      span {
        font-size: 20px;
      }
    }
  }
}

@media (max-width: 350px) {
  .statistic_item {
    width: 100%;
  }
  .brand_content {
    .brand_item {
      h6 {
        font-size: 13px;
      }
    }
  }
}
// 1200 992 768 576
